.main {
    background-color:rgb(159, 190, 218);
    color:rgb(154, 9, 33);
}
img {
    
    height:100%;
    width:100%px;
}
.ff {
    height: 80px;
    width: 120px;
}


body {
    background-color:rgba(226, 43, 192, 0.267);
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:lighter;
}
img {
    height:auto;
    width:max-content;
}
h1,h2 {
    color:black;
    font-variant: small-caps;
}
.title {
    font-size:46px;
}
.title.ing{
    font-size:32px;
}
.keema {
    text-align: left;
    background-color:rgba(0, 255, 238, 0.544);
    font-size: 24px;
    font-variant:normal;

}
.p_title {
    font-size:40px;

}
.pancake {
    text-align: left;
    background-color:aquamarine;
    font-size: 20px;
}
.toast {
    text-align:left;
    background-color:rgb(191, 111, 212);
    font-size:20px;
}

.t_title { 
    font-size: 40px;
}
